<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="login-content">
  <div class="login-container">
    <div class="login-card">
      <div class="logo-section">
        <ion-icon name="musical-notes" class="logo-icon"></ion-icon>
        <h1>Music Store</h1>
        <p>Entre para descobrir álbuns incríveis</p>
      </div>

      <form (ngSubmit)="submit()" class="login-form">
        <ion-item lines="none" class="input-item">
          <ion-input
            label="Usuário"
            labelPlacement="floating"
            [(ngModel)]="form.username"
            name="username"
            required
            autocomplete="username">
          </ion-input>
        </ion-item>

        <ion-item lines="none" class="input-item">
          <ion-input
            label="Senha"
            labelPlacement="floating"
            type="password"
            [(ngModel)]="form.password"
            name="password"
            required
            autocomplete="current-password">
          </ion-input>
        </ion-item>

        <ion-button type="submit" expand="block" [disabled]="loading" class="submit-btn">
          <ion-spinner *ngIf="loading" name="crescent"></ion-spinner>
          <span *ngIf="!loading">Entrar</span>
        </ion-button>

        <ion-text color="danger" *ngIf="error" class="error-text">
          <p>{{ error }}</p>
        </ion-text>
      </form>
    </div>
  </div>
</ion-content>